doctype html
link(rel='stylesheet' href='css/student3.css')

head
    title Mayonnaise Science and Culinary Innovation 
body
    h1 By:Tristin Watkins
    p A complete degree in Mayonnaise research and development
