doctype html
html
  head
    link(rel='stylesheet' href='/css/student3.css')
    title Mayonnaise Science and Culinary Innovation
  body
    h1
      | Brought To You By: Tristin Watkins
    h2 Mayonnaise Science and Culinary Innovation

    p A complete degree in Mayonnaise research and development

    section 
      h2 Location 
      p The University of Southern Washington Toronto, is located dead smack in the middle of the South Pole. This is the culinary capital of the world. The Complete Mayo research facility is covered in the finest Mayonnaise technology in the world along with a flavorful academic environment.

    section 
      h2 About 
      p This degree is mainly about and for the amazing students who believe that they can make a change in the world by the use of Mayonnaise. If you have a heart filled with open questions about mayo and want to contribute to making mayo the best the world has seen, this degree is for you.

    section 
      h3 Innovative Mayonnaise Research
      p The program focuses on innovative research in mayonnaise production techniques, from optimizing texture to experimenting with new flavor profiles and ingredients. Students work hands-on in labs that replicate real-world culinary and food production scenarios.

    section 
      h3 Culinary Techniques and Artistry 
      p This degree emphasizes both the art and science of mayonnaise, teaching students how to create the perfect texture, color, and flavor for a wide variety of uses. With this education, students learn advanced techniques in food science and culinary creativity.

    section 
      h3 Global Impact of Mayonnaise 
      p Students in this major will study the global impact of mayo, understanding how this condiment has influenced cultures worldwide. They will explore different variations of mayonnaise and how different cultures view the great mayo.

    section 
      h2 Things to do 
      ul 
        li Conduct experimental mayo tests and taste tests to help develop new varieties
        li Attend culinary workshops and Mayo science lectures
        li Collaborate with international researchers on global change involving mayo
        li Host Mayo-themed food festivals and events to showcase the best of the best in mayo research
        li Work in the mayo lab to create marketable products

    section 
      h2 Images of the Degree 
      img(src='/img/Mayo1.jpg' width='500')
      img(src='/img/Mayo2.jpg' width='500')

    // Comments Section
    section
      h2 Comments
      ul(id='comment-list')
        each comment in comments
          li
            p= comment.comment
            // Delete Button for each comment
            form(action='/student3/delete-comment', method='POST')
              input(type='hidden' name='commentId' value=comment.id)
              button(type='submit') Delete
            // Update Form for each comment
            form(action='/student3/update-comment', method='POST')
              input(type='hidden' name='commentId' value=comment.id)
              input(type='text' name='updatedComment' value=comment.comment placeholder='Update your comment' required)
              button(type='submit') Update

      // Add Comment Form
      form(action='/student3/add-comment', method='POST')
        input(type='text' id='comment-input' name='comment' placeholder='Add a comment...' required)
        button(type='submit') Submit

    // Include script for handling comments (optional)
    script(src='/js/student3.js')

    h2 This Detailed Page could not have been possible without our Sponsors....
    p
      | Big Red
    p
      | "If you don't chew Big Red, then #$@% you - Ricky Bobby"

    p
          | Heinz
    p
          | "If you dont use Heins, Then Stop using it "

    p
          | The University of Southern Washington Toronto
    p
          | " We are totally real"
