doctype html
link(rel='stylesheet' href='css/student3.css')

head
    title Mayonnaise Science and Culinary Innovation 
body
    h1 By:Tristin Watkins
    h2 Mayonnaise Science and Culinary Innovation 

    p A complete degree in Mayonnaise research and development

section 
    h2 Location Of University 
    p The University of Southern Washington Toronto, Is located dead smack in the middle of the South Pole, This is the culinary capital of the world. The Complete Mayo research facility is covered in the finest Mayonnaise technology in the world along with a flavorful academic enviroment.
