doctype html
link(rel='stylesheet' href='css/student3.css')

head
    title Mayonnaise Science and Culinary Innovation 
body
    h1 By:Tristin Watkins
    h2 Mayonnaise Science and Culinary Innovation 

    p A complete degree in Mayonnaise research and development

section 
    h2 Location 
    p The University of Southern Washington Toronto, Is located dead smack in the middle of the South Pole, This is the culinary capital of the world. The Complete Mayo research facility is covered in the finest Mayonnaise technology in the world along with a flavorful academic enviroment.

section 
    h2 About 


section
    h3 Innovative Mayonnaise Research
    p The program focuses on innovative research in mayonnaise production techniques, from optimizing texture to experimenting with new flavor profiles and ingredients. Students work hands-on in labs that replicate real-world culinary and food production scenarios.

section 
    h3 Culinary Techniques and Artistry 
    p This degree emphsizes both the art and science of mayonaise, teaching students how to create the perfect texture, color, and flavor for a wide variety of uses. With this education students learn advanced techniques in food science and culinary creativity. 

section 
    h3 Global Impact of Mayonnaise 
    p Students in this major will study the global impact of mayo, understanding how this condiment has influenced cultures worldwide. They will explore different variation of mayonnaise and how different cultures view the great mayo 

section 
    h2 Things to do 
    ul 
        li Conduct experimental mayo tests and taste tests to help develop new varieties 
        li Attend culinary workshops and Mayo science lectures 
        li Collaborate with internatinal researcher on global change involving mayo 
        li Host Mayo-themed food festivals and events to showcase the best of the best in mayo research 
        li Work in the mayo lab to create marketable product 

section 
    h2 Images of the Degree 
    <img src="" width ="500">
    <img src="" width ="500">

section 
    h2 Comments 
    ul
        li No Comments Yet.

body 

html




