doctype html 
link(rel='stylesheet' href='css/student2.css')

head 
    title Marine Biology - Comments 
body 
    h5
        a(href="/student2") Back To Home
    h1 Post Comment 
    form(action="/student2/comments" method="POST")
        p
            label(for="comment") Comment: 
            input(type="text" name="comment" placeholder="Comment..." required)
        p
            input(type="submit")
    h1 Comments 
        ul
        - for (let i = 0; i < comments.length; i++)
            li= comments[i].message
                form(action="/student2/comments/delete", method="post")
                    input(type="hidden", name="id" value=comments[i].id)
                    input(type="submit", value="Delete") 
            form(action='/student2/comments/update', method='POST') 
              input(type='hidden' name='commentId' value=comments[i].id)
              input(type='text' name='updatedComment' value=comments.message placeholder='Update your comment' required)
              button(type='submit') Update