doctype html 
link(rel='stylesheet' href='css/student2.css')

head 
    title Marine Biology - Comments 
body 
    h1 Comments 
        ul
        - for (let i = 0; i < comments.length; i++)
            li= comments[i].message
    h1 Post Comment 
    form(action="/student2/comments" method="POST")
        p
            label(for="comment") Comment: 
            input(type="text" name="comment" placeholder="Comment..." required)
        p
            input(type="submit")