doctype html
link(rel='stylesheet' href='css/student2.css')

head
    title Marine Biology
body
    h1 Isaac Hager
    h2 Marine Biology
    section 
        h2 Location
            p 
    section 
        h2 About
            section
                h3 
            section 
                h3 
            section 
                h3
    section 
        h2 Things To Do 
            ul 
                li 
                li 
                li 
    img(src="", alt="")
    img(src="", alt="")
    ul  
        //- List of comments randomly selected from database
            
            Should contain a maximum of 5, depending on amount in database
