doctype html
link(rel='stylesheet' href='css/student2.css')

head
    title Marine Biology
body
    h1 Isaac Hager
    h2 Marine Biology
    section 
        h2 Location
            p 
            | Underneath the Boise River. Really, it's a lot bigger down there than you would expect. Follow the ducks, 
            | they'll take you right where you need to go. The marine environment is perfect for learning about a wide 
            | variety of unique animals, such as fish, or other types of fish.
    section 
        h2 About
            section
                h3 History 
                p 
                | The Marine Biology department has been around since the invention of boats, when humans learned that
                | water is actually pretty cool as long as you don't breathe it. In this course, you will learn about
                | the early days of Marine Biology, and the development of modern marine science tools, such as the snorkel.
                | You will be able to glean wisdom from historical icons of Marine Biology, such as Jonah, Amelia Earhart, 
                | and the Captain of the Edmund Fitzgerald. Yes, the first Marine Biologists happen to be mostly unfortunate 
                | sailors. There really are not many more reasons to explore the depths of the ocean other than severe misjudgement
                | of assumedly bouyant objects.
            section 
                h3 Research 
                p 
                | You will have plenty of unique experiences to go on expeditions and missions to conduct your own research.
                | The state of Idaho <em>does</em>
                | specify that we are not allowed to take you below 100ft or into an actual ocean, so that does limit our
                | options for trips and such. As it happens, you currently have two main options when it comes to undergrad
                | research. You could join us on our weekly wading trips across the Boise River, which can be quite exhilirating
                | at certain times of year. We once saw a beaver, which doesn't really fall under the scope of Marine Biology 
                | <em>per say,</em>
                | but it was still cool. Your other option is to rent out some flippers and a snorkel and we'll look the other
                | way after shipping you out to the Pacific to "Study Abroad". As long as you don't anger the whales, all should 
                | be well.
            section 
                h3 Clubs 
                p 
                | We are proud to promote several Marine Biology related clubs that you have the opportunity to participate in!
                | These clubs include Fishing Club, Whale-Watching Club, Semester at Sea, and the United States Marine Corps.
                | If you are interested in joining any of these clubs, please reach out to the Chair of Marine Biology to get 
                | connected with the student club leaders. 
    section 
        h2 Things To Do 
            ul 
                li Environmental Protection Efforts
                li Analyzing and Managing Local Fish Population 
                li Build and Manage Fish Hatcheries 
                li Study New Species of Marine Life 
                li Obtain a Bathosphere and Descend Perilously into the Depths of the Oceanic Abyss, Never to See the Light of Day Again
                li Critique Aquariums
    img(src="img/Whale_Sighting.jpg", alt="A picture of a whale breaching at sea.")
    img(src="img/Weird_Fish.jpg", alt="Some weird looking fish.")
    h2 
        a(href="student2/comments") Comments
    ul 
        - for (let i = 0; i < Math.min(comments.length, 5); i++)
            li= comments[i].message
