doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/student1.css')
  title Golf Management
h1 Quinton Duce
h2 Golf Management
section(class='Location')
  h2 Location
  p
    | Scotland, known as the home of golf, is the perfect place to study a Golf Management major. With its rich history,
    | famous courses like St. Andrews, and strong connection to the sport, Scotland offers an ideal setting for learning
    | about golf. Our university&rsquo;s program combines classroom learning with hands-on experience at some of the world&rsquo;s
    | most well-known courses. Students will develop skills in management, marketing, and running golf operations while
    | surrounded by Scotland&rsquo;s beautiful scenery and golfing traditions. It&rsquo;s the perfect program for anyone who wants to
    | build a career in the golf industry.
img(src='/img/GolfManagementSwing.jfif' id='Swing')

section
  h2 About
  section(class='Operations')
    h3 Operations
    p
      | In the operations side of golf management, you will learn how to run a golf course smoothly. This includes managing
      | the staff, scheduling tee times, organizing tournaments, and ensuring that all facilities are in top condition. You
      | will also learn about customer service, budgeting, and marketing to attract more players to the course. These skills
      | are essential for making sure that everything runs efficiently and that golfers have a great experience.
  section(class='Maintenance')
    h3 Maintenance
    p
      | In the maintenance part of golf management, you will learn how to keep the golf course in great shape. This includes
      | taking care of the grass, fixing any damage, and making sure the course is safe and enjoyable for players. You will
      | also learn about the tools and machines used to maintain the course, as well as how to plan and carry out regular
      | maintenance tasks. Making sure the course is up to par is essential for running a successful golf club.
  section(class='History')
    h3 History
    p
      | In the history part of the golf management major, you will explore the origins and evolution of the game of golf.
      | This includes studying the early beginnings of golf in Scotland, the development of the rules and equipment, and the
      | establishment of famous golf courses around the world. You will also learn about significant figures in golf
      | history, major tournaments, and how the sport has grown and changed over the centuries. Understanding the history of
      | golf will give you a deeper appreciation for the game and its cultural significance.
section(class='Career_Options')
  h2 Things to Do
  ul
    li Manage golf courses and clubs
    li Organize golf tournaments and events
    li Work in golf marketing and promotions
    li Oversee golf course maintenance and landscaping
    li Provide golf instruction and coaching
    li Develop golf-related businesses and products
    li Work in golf tourism and travel
section(class='Comments')
  h2 
    a(href="student1/comments") Comments
  ul
    - for (let i = 0; i < Math.min(comments.length, 5); i++)
        li= comments[i].message
img(src='/img/GolfManagementMorning.jpg' id='Morning')